<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrando productos</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
    <header class="header">
        <ul>
            <li><a href="filter.html?criterioFiltro=Apple">Apple</a></li>
            <li><a href="filter.html?criterioFiltro=Asus">Asus</a></li>
            <li><a href="filter.html?criterioFiltro=Google">Google</a></li>
            <li><a href="filter.html?criterioFiltro=Huawei">Huawei</a></li>
            <li><a href="filter.html?criterioFiltro=Lenovo">Lenovo</a></li>
            <li><a href="filter.html?criterioFiltro=LG">LG</a></li>
            <li><a href="filter.html?criterioFiltro=Motorola">Motorola</a></li>
            <li><a href="filter.html?criterioFiltro=Samsung">Samsung</a></li>
            <li><a href="filter.html?criterioFiltro=Xiaomi">Xiaomi</a></li>
        </ul>
    </header>
    <main class="main__index" id="mainFilter">
        <span class="loader" id="loader"></span>
    </main>
    <footer class="footer__filter">
        <a href="index.html">Volver al inicio</a>
    </footer>
    <script src="/public/js/filter.js"></script>
</body>
</html>