<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectar una hoja de calculo</title>
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>
<body>
        <header class="header" id="header">
            <ul>
                <li><a href="filter.html?criterioFiltro=Apple">Apple</a></li>
                <li><a href="filter.html?criterioFiltro=Asus">Asus</a></li>
                <li><a href="filter.html?criterioFiltro=Google">Google</a></li>
                <li><a href="filter.html?criterioFiltro=Huawei">Huawei</a></li>
                <li><a href="filter.html?criterioFiltro=Lenovo">Lenovo</a></li>
                <li><a href="filter.html?criterioFiltro=LG">LG</a></li>
                <li><a href="filter.html?criterioFiltro=Motorola">Motorola</a></li>
                <li><a href="filter.html?criterioFiltro=Samsung">Samsung</a></li>
                <li><a href="filter.html?criterioFiltro=Xiaomi">Xiaomi</a></li>
            </ul>
        </header>
        <main class="main__index" id="main">
            <span class="loader" id="loader"></span>
        </main>
        <footer id="bottom">

        </footer>
        <div class="up">
            <a href="#header">↑</a>
        </div>
        <div class="down">
            <a href="#bottom">↓</a>
        </div>
    <script src="/public/js/index.js"></script>
</body>
</html>